* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    color: white;
}

body {
    background-color: #343035;
}

a {
    text-decoration: none;
    font-weight: 850;
}

main {
    margin-top: 160px;
}

section h2 {
    text-transform: uppercase;
    text-align: center;
}

/* Estilos del NAV */
nav {
    text-transform: uppercase;
}

nav ul {
    list-style-type: none;
}

form input {
    color: #000000;
}

form textarea {
    color: #000000;
}

/* Clases: */
.header {
    position: fixed;
    width: 100%;
    top: 0;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    background-color: #000000;
    padding: 10px; 
    border-radius: 20px;
    margin: 10px;
    height: 80px;
}

.flex {
    display: flex;
}

.nav-items li {
    padding-left: 15px;
    padding-right: 10px;
}

.img-size {
    width: 800px;
}

.img-size img {
    width: 100%;
}

.index-awards {
    width: 190px;
}

.index-awards img {
    width: 100%;
}

.index-img-section-mid {
    width: 190px;
    text-align: center;
    margin: 0 auto;
}

.index-img-section-mid img {
    width: 100%;
    border-radius: 10px;
    
}

.footer-card {
    width: 350px;
    height: 350px;
    border-radius: 20px;
    background-color: #000000;
    text-align: center;
    font-size: 13px;
}

.footer-card form {
    width: 60%;
}

.footer-card ul {
    list-style-type: none;
    text-align: left;
    width: 80%;
}

.logo-image {
    width: 150px;
    border-radius: 30px;
}