* {
    margin: 0;
    padding: 0;
    font-family: "Rubik", sans-serif;
    color: white;
}

body {
    background-color: #343035;
}

a {
    text-decoration: none;
    font-weight: 850;
}

main {
    margin-top: 160px;
}

section h2 {
    text-transform: uppercase;
    text-align: center;
}

/* Estilos del NAV */
nav {
    text-transform: uppercase;
}

nav ul {
    list-style-type: none;
}

form input {
    color: #000000;
}

form textarea {
    color: #000000;
}

/* Clases: HEADER y NAVBAR */
/* ------------------------------------------------------ */
.header {
    position: fixed;
    width: 100%;
    top: 0;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 16px;
    background-color: #000000;
    padding: 10px; 
    border-radius: 20px;
    margin: 10px;
    height: 80px;
}

.logo-image {
    width: 150px;
    border-radius: 30px;
}

.nav-items li {
    padding-left: 15px;
    padding-right: 10px;
}
/* ------------------------------------------------------ */

/* Clases: Footer */
/* ------------------------------------------------------ */
.footer {
    justify-content: space-around;
    align-items: center;
    margin-top: 40px;
    flex-wrap: wrap;
    padding: 0.5rem;
}

.footer-card {
    background-color: #000000;
    padding-top: 10px;
    width: 400px;
    height: 350px;
    border-radius: .75rem;
    font-size: 1rem;
    margin-bottom: 10px;
}

.footer-card form {
    width: 60%;
}

.footer-card ul {
    list-style-type: none;
    text-align: left;
    width: 80%;
}

.card-content {
    justify-content: center;
    flex-direction: column;
    padding-left: 30px;
}

.card-content p {
    margin-top: 20px;
    margin-right: 30px;
}

.card-content h6 {
    margin-top: 10px;
    margin-bottom: 10px;
    color: #ffc0cb;
}

.card-content a {
    color: #008000;
    font-size: 14px;
}

.card-content ul {
    margin-top: 10px;
}

.card-content li i {
    padding-right: 5px;
}

.card-content iframe {
    margin-top: 20px;
    margin-bottom: 10px;
    border: 0;
    width: 300px;
    height: 200px;
    border-radius: 10px;
}

.form-content {
    flex-direction: column;
}

.form-content div {
    margin-top: 5px;
}

.button-form {
    color: #000000;
}
/* ------------------------------------------------------ */

.flex {
    display: flex;
}

.img-size {
    width: 800px;
}

.img-size img {
    width: 100%;
}

.index-awards {
    width: 190px;
}

.index-awards img {
    width: 100%;
}

.index-img-section-mid {
    width: 190px;
    text-align: center;
    margin: 0 auto;
}

.index-img-section-mid img {
    width: 100%;
    border-radius: 10px;
    
}