* {
    font-family: "Rubik", sans-serif;
    color: white;
}

body {
    background-color: #343035;
}

header {
    font-size: 14px;
    background-color: #000000;
    border-radius: 15px;
}

a {
    text-decoration: none;
    font-weight: 850;
}

section h2 {
    text-transform: uppercase;
    text-align: center;
}

/* Estilos del NAV */
nav {
    text-align: right;
    text-transform: uppercase;
}

nav ul {
    list-style-type: none;
}

form input {
    color: #000000;
}

form textarea {
    color: #000000;
}

/* Clases: */
.img-size {
    width: 800px;
}

.img-size img {
    width: 100%;
}

.index-awards {
    width: 190px;
}

.index-awards img {
    width: 100%;
}

.index-img-section-mid {
    width: 190px;
    text-align: center;
    margin: 0 auto;
}

.index-img-section-mid img {
    width: 100%;
    border-radius: 10px;
    
}

.footer-card {
    width: 350px;
    height: 350px;
    border-radius: 20px;
    background-color: #000000;
    text-align: center;
    font-size: 13px;
}

.footer-card form {
    width: 60%;
}

.footer-card ul {
    list-style-type: none;
    text-align: left;
    width: 80%;
}